node_modules/
.gradle/
*.iml
.DS_Store
/build/
android/app/build/
ios/build/
ios/Pods/
*.keystore
npm-debug.log*
jest-cache/
android/gradle/wrapper/gradle-wrapper.jar
android/app/src/main/res/mipmap-*/ic_launcher*.png
